<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
   
    <div id="main">
        <h1>Welcome to QuickCureHealth</h1>
        
        <form method="POST" action="/send-otp">
            <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Email id" required>
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>
        <br>
        <div id="show-password-container">
            <input type="checkbox" id="show-password"> 
        <label for="show-password"> &nbsp;Show Password</label>
        </div>
        <div>  <button type="submit">Sign Up</button></div>
       
           </form>
        <p>Already have an account?<a href="/signin"> Sign in</a></p>
      
            </div>
           
</body>
<script >
    document.querySelector("#show-password").addEventListener("change",()=>{
        const pass=document.querySelector("#password");
        pass.type=(pass.type==="password")?"text":"password";
    })
</script>
</html>