body{
    background-color: #cfcfcf;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}
*{
    font-size:large;
   font-weight: 700;
   font-family: "Montserrat", serif;
}
#main{
    padding :2rem;
    height: 35rem;
    width: 25rem;
    background-filter: blur(10px);
    background-color:#017a7c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 5px 10px #000;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
label{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
   align-self: flex-start;
}
#show-password-container{
    align-self: flex-start;

}
input{
    width: 25rem;
    height: 2.7rem;
    border-radius: 3rem;
    border: none;
    background-color: rgb(255, 255, 255,0.8);
    padding-left: 1rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}
#show-password{
    height: 1.3rem;
    width: 1.3rem;
    align-self: start;
}
input:focus{
    outline: blue 2px solid;
    border:none;
}
button{
    width: 8rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    background-color: #fff;
    color: #1f8384;
    cursor: pointer;
    margin: 0.5rem 0;
    font-size: larger;
}
p{
    justify-self: flex-end;
    color: #fff;
    font-size: 1.2rem;
}
p a{
    color: #fff;
}